.breadcrumb-nav {
  background-color: transparent;
  width: 100%;
  align-self: flex-start;
  ul {
    list-style: none;
    list-style-position: outside;
    padding-left: 0;
    width: 100%;
    margin-bottom: 5px;
    li {
      display: inline;

      a {
        text-decoration: none;
        color: $meli-text-color;
        &:hover {
          color: $meli-text-color-hover;
        }
      }
    }
    li + li {
      margin-left: 25px;
      position: relative;

      &:before {
        content: ' ';
        width: 7px;
        height: 7px;
        border-right: 1px solid $meli-text-color;
        border-bottom: 1px solid $meli-text-color;
        position: absolute;
        left: -18px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        pointer-events: none;
      }
    }
  }
}
