.no-items-found__container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
  .no-items-found__icon {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  .no-items-found__info {
    ul {
      margin: 20px;
      padding-inline-start: 20px;
    }
  }
}
