

header {
  z-index: 2;
  padding: 7px 0;
  background-color: $meli-yellow;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
}

.nav__logo {
  display: inline-block;
  min-height: 100%;
  width: 20%;
  position: relative;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

header nav {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  form {
    vertical-align: top;
    display: inline-flex;
    margin-right: 20%;
    width: 60%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    input {
      border: 0;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-color: transparent;
      padding-left: 10px;
      flex-grow: 1;
      &:focus {
        outline: none;
      }
    }
  }
}

.nav__button {
  margin: 0;
  padding: 10px;
  border: none;
  line-height: 0;
  border-radius: 5px;
  background-color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  min-width: 50px;
  &:before {
    content: ' ';
    height: 20px;
    display: inline-block;
    border-left: 1px darkgrey solid;
    margin-right: 5px;
    background-color: darkgrey;
  }
  &:hover,
  &:focus {
    outline: none;
    i {
      outline: none;
      color: darkgrey;
      transition: color 0.2s ease-in;
    }
  }
}
