body {
  margin: 0;
}
#app {
  min-height: 100vh;
}
.main-wrapper {
  min-height: 100%;
}
.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ebebee;
}

main {
  min-height: calc(100vh - 74px);
  padding-bottom: 30px;
  box-sizing: border-box;
  flex-grow: 1;
}

.container {
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.main-container {
  background-color: white;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 952px;
  }
}
@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1450px) {
  .container {
    max-width: 1400px;
  }
}

.main-container {
  padding: 30px 0;
  min-height: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
  box-sizing: border-box;
}
