.meli-btn {
  width: 100%;
  padding: 15px;
  text-align: center;
  border: none;
  background-color: #3481ff;
  color: white;
  border-radius: 5px;
  &:hover {
    background-color: $meli-text-color;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
