.product-detail-page {
  display: flex;
  flex-wrap: wrap;
  @include meli-anchor;

  .product-image {
    padding: 0 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .product-content {
    padding: 0 20px;
    width: 100%;
  }

  .product-description {
    width: 100%;
    padding: 0 20px;
    p {
      line-height: 125%;
    }
  }

  @media screen and (min-width: 768px) {
    .product-image {
      width: 50%;
    }
    .product-content {
      padding: 20px;
      width: 50%;
    }
    .product-description {
      width: 50%;
    }
  }
  @media screen and (min-width: 1200px) {
    .product-image {
      width: 60%;
    }
    .product-content {
      padding: 20px;
      width: 40%;
    }
    .product-description {
      width: 60%;
    }
  }
}
